<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5-4coL25JTUSoI49mXkCiZeqRwBwie8w</string>
	<key>GCM_SENDER_ID</key>
	<string>391562541192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>forWork.TheBestRoulette</string>
	<key>PROJECT_ID</key>
	<string>thebestroulette</string>
	<key>STORAGE_BUCKET</key>
	<string>thebestroulette.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391562541192:ios:43f9e07b31bc5e3570073d</string>
</dict>
</plist>